body {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
  color: #3b2b0a;
} /* closed missing brace }, everything after the missing brace may be ignored/part of the body tag */

#sidebar {
  position: fixed;
  top: 0; /* replaced "yes" with valid value 0 , "yes" is not a valid valid value which will make the top get ignored and will result in formatting errors*/
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #d8b382;
  padding: 20px;
  box-shadow: 3px 0 8px rgba(0, 0, 0, 0.2);
}

#sidebar h2 {
  color: white; /* replaced invalid 'what' with 'white', what isnt a colour */
  text-align: center;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar li {
  margin: 15px 0;
} 

#sidebar a {
  color: white;
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
} 

#content {
  margin-left: 250px;
  padding: 40px;
  background-color: #fdf9f4; /* added missing # before color, browser ignores the colour if its either missing a # or an invalid colour, e.g "what" */
}

.section {
  padding: 50px; /* added px, browser ignores this if it does not have units */
  margin-bottom: 50px; /* added missing semicolon, semicolon to tell the browser that this is complete and everything after is a seperate command */
  border-radius: 10px;
}

.light {
  background-color: #fff8e6;
}

.dark { /* fixed typo 'dork' --> 'dark', it is written as dark in html so in order for the two files to communicate properly, they have to be named the same thing, if it was dork in html, it would be fine.  */
  background-color: #e7cba9;
  color: #3b2b0a;
}

.wool-box {
  position: relative; /* added missing colon, without the colon the browser would think that relative was part of the command and not a value*/
  background-color: #f3e0b6;
  padding: 30px;
  margin-top: 25px;
  border-radius: 8px;
}

.wool-detail {
  position: absolute; /* added missing brace + colon, none of the styles get applied as theres no value because of the missing colon, and everything does not work because there was no brace to tell the brower you are starting a section */
  bottom: 10px;
  right: 10px;
  background-color: #d4a373;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#footer {
  text-align: center;
  padding: 20px;
  background-color: #d8b382;
  color: white;
}
